$header-text: 'Arapey', serif;
$headertext-color: white;
$alt-text : 'Lusitana', serif;
$header-color: darkseagreen;
$blog-card: lightgrey;
$blog-border: 2px solid pink;
$text-shadow: 2px 2px 5px black;
$alt-border: 2px solid white;