/*****MAIN STYLES*****/

body {
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 0;
	padding: 0;
}	

p {
	font-family: 'Lusitana', serif;
	margin: 15px;
	padding: 15px;
}

div {
	background-color: lightgrey;
}

article {
	padding: 20px;
}

.header {
	background-image: url(http://www.themesltd.com/headers2/adorable_pug_heads.png);
	display: cover;
	margin: 0;
    padding: 0;
    height: 150px;
    width: 100%;
    position: relative;
}

.header h1 {
	color: white;
	font-family: 'Arapey', serif;
	font-size: 70px;
	margin: 5px;
	margin-left: 15px;
	padding: 0;
	position: absolute;
	bottom: 0;
	text-shadow: 2px 2px 5px black;
}

.navbar {
	padding: 10px;
	background-color: pink;
	list-style: none;
	text-align: left;
}

nav ul {
	color: white;
	font-family: 'Arapey', serif;
	text-shadow: 2px 2px 5px black;
	margin: 0;
	padding: 0;
	font-size: 25px;
	text-align: left;
}

nav li {
	display: inline;
	margin: 20px;
}

a {
	color: white;
	text-decoration: none;
}

 .navbar a:hover {
	color: darkseagreen;
	background-color: white;
	border-radius: 15px;
	padding: 5px;
}

.navbar a:active {
	background-color: ;
	padding-left: 10px;
	padding-right: 10px;
}


footer {
	text-align: center;
	margin: 20px;
}

/*****BIO PAGE STYLES*****/

 .workhistory h1 {
 	background-color: darkseagreen;
 	font-family: 'Arapey', serif;
	color: white;
	text-shadow: 2px 2px 5px black;
	margin: 0;
	padding: 20px;
}

h3 {
	font-weight: bold;
	font-family: 'Lusitana', serif;
	margin-left: 20px;
	margin-bottom: 10px;
}

h6 {
	font-family: 'Lusitana', serif;
	margin-left: 20px;
	margin-top: 0;
	margin-bottom: 0;
}

.workhistory li {
	font-family: 'Lusitana', serif;

}

/*****Contact Page Styles*****/

.contactinfo {
	text-align: center;
}

.contact {
	background-color: darkseagreen;
	font-family: 'Arapey', serif;
	color: white;
	text-shadow: 2px 2px 5px black;
	margin: 0;
	padding: 5px;
}

.social {
	list-style: none;
}

.social li {
	display: inline;
	position: relative;
	top: 100px;
	
}

.social a {
	font-size: 75px;
	color: white;
	text-shadow: 2px 2px 5px black;
	margin: 25px;
}

.social a:active {
	font-size: 85px;
}

.social-links {
	margin: 0;
	padding: 0;
	display: inline-block;
}


.contact-container {
	height: 800px;
}

/*****ABOUT ME*****/

.aboutme {
	height: 800px;
}

.contact h1 {
	text-align: center;
}

.aboutme-img {
	text-align: center;
}

.aboutme-img img {
	height: 30%;
	width: 30%;
	margin: 25px;
	border: 2px solid white;
	border-radius: 50%;

}

/*****PROJECTS*****/

.container {
	height: 800px
}

/*****BLOG*****/

.blog-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}

.blog-card {
	border: 2px solid white;
	width: 300px;
	height: 400px;
	margin: 25px;
	
}

.card-title {
	margin: 0;
}

.card-title h4 {
	background-color: pink;
	color: white;
	font-family: 'Arapey', serif;
	text-shadow: 2px 2px 5px black;
	margin-top: 0;
	margin-bottom: 5px;
	padding: 15px;
	text-align: center;
}

.card-date {
	text-align: center;
}

