body {
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
  padding: 0; }
  body p {
    font-family: "Lusitana", serif;
    margin: 15px;
    padding: 15px; }

.header {
  background-image: url(http://www.themesltd.com/headers2/adorable_pug_heads.png);
  display: cover;
  margin: 0;
  padding: 0;
  height: 150px;
  width: 100%;
  position: relative; }
  .header h1 {
    color: white;
    font-family: "Arapey", serif;
    font-size: 70px;
    margin: 5px;
    margin-left: 15px;
    padding: 0;
    position: absolute;
    bottom: 0;
    text-shadow: 2px 2px 5px black; }

.navbar {
  margin-bottom: 0; }

footer {
  text-align: center;
  margin: 20px; }

h3 {
  font-weight: bold;
  font-family: "Lusitana", serif;
  margin-left: 20px;
  margin-bottom: 10px; }

h6 {
  font-family: "Lusitana", serif;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0; }

.workhistory h1 {
  background-color: darkseagreen;
  font-family: "Arapey", serif;
  color: white;
  text-shadow: 2px 2px 5px black;
  margin: 0;
  padding: 20px; }

.workhistory li {
  font-family: "Lusitana", serif; }

.contact-container {
  background-color: lightgrey;
  height: 800px; }

.contactinfo {
  text-align: center; }

.contact {
  background-color: darkseagreen;
  font-family: "Arapey", serif;
  color: white;
  text-shadow: 2px 2px 5px black;
  margin: 0;
  padding: 5px; }
  .contact h1 {
    text-align: center; }

.social {
  list-style: none; }
  .social li {
    display: inline;
    position: relative;
    top: 100px; }
  .social a {
    font-size: 75px;
    color: white;
    text-shadow: 2px 2px 5px black;
    margin: 25px; }
    .social a :active {
      font-size: 85px; }

.social-links {
  margin: 0;
  padding: 0;
  display: inline-block; }

.aboutme {
  height: 800px; }

.aboutme-img {
  text-align: center; }
  .aboutme-img img {
    height: 30%;
    width: 30%;
    margin: 25px;
    border: 2px solid white;
    border-radius: 50%; }

.container {
  height: 800px;
  width: 100%;
  padding: 0; }

/*****BLOG*****/
.blog-container {
  margin-top: 15px; }

.col-xs-4 {
  background-color: lightgrey;
  padding: 15px;
  height: 200px;
  width: 32.6299%;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 2px solid pink;
  border-radius: 5px;
  margin: 5px; }

.card-title {
  background-color: darkseagreen;
  color: white;
  text-shadow: 2px 2px 5px black;
  font-size: 20px;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 15px; }

.jumbotron {
  border: 2px solid pink;
  margin: 10px;
  border-radius: 5px; }

.stretch {
  height: 450px; }

.hidden {
  display: none; }

.projects-container {
  margin-top: 35px;
  text-align: center; }

.project-card {
  height: 550px;
  padding: 5px; }
  .project-card .project-title {
    background-color: darkseagreen;
    color: white;
    text-shadow: 2px 2px 5px black;
    text-align: center;
    padding: 5px;
    margin: 5px;
    font-size: 25px;
    font-family: "Arapey", serif; }
  .project-card .project-photo {
    text-align: center; }
    .project-card .project-photo img {
      width: 400px;
      height: 275px;
      border-radius: 15px;
      border: 2px solid pink; }
